/* http://colorbrewer2.org/ diverging 7colors: eighth entry: from red to green */
.abdeck_100 { background-color:			#1A9850; }
.abdeck_95 { background-color:			#91CF60; }
.abdeck_85 { background-color:			#D9EF8B; }
.abdeck_75 { background-color:			#FFFFBF; }
.abdeck_50 { background-color:			#FEE08B; }
.abdeck_25 { background-color:			#FC8D59; }
.abdeck_0 { background-color:			#D73027; }
.abdeck_invalid { background-color:		#444444; }

