
.abdeck_100 { background-color:			#418200; }
.abdeck_95 { background-color:			#418200; }
.abdeck_85 { background-color:			#418200; }
.abdeck_75 { background-color:			#FFFF00; }
.abdeck_50 { background-color:			#FFFF00; }
.abdeck_25 { background-color:			#FF0000; }
.abdeck_0 { background-color:			#FF0000; }
.abdeck_invalid { background-color:			#BBBBBB; }

